PORT=3000
CORS_ORIGINS="http://localhost:5173"
JWT_SECRET="JWT_SECRET"
JWT_EXPIRES_IN="1h"
ADMIN_NAME="Administrator"
ADMIN_EMAIL="admin@example.com"
ADMIN_PASSWORD="password123"

DATABASE_URL="postgresql://postgres:postgres@localhost:5432/employee_db?schema=public"
